<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TSPlotGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SwanerODMEntities" connectionString="metadata=res://*/ODMModel.csdl|res://*/ODMModel.ssdl|res://*/ODMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=waterdata.usu.edu;initial catalog=SwanerODM;user id=TSA;password=TSA!wat3r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <TSPlotGenerator.Properties.Settings>
      <setting name="imagePath" serializeAs="String">
        <value>C:\DEV\Uchic\Swaner\TSPlotGenerator\TSPlotGenerator\bin\images</value>
      </setting>
      <setting name="VariableCode_Bounds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>pH_Avg, 3, 14</string>
            <string>Cond_Avg, 50, 3000</string>
            <string>WLevel_ft_Avg, 0.01, 10 </string>
            <string>Turb_Median, 5, 1650</string>
            <string>LDO_mgl_Avg, 0.01, 16</string>
            <string>MS_WTemp_C_Avg, -5, 40</string>
            <string>Sal_Avg, 0.01, 10000</string>
            <string>00060, 0.01, 10000</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MultVarVariable_Bounds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>LDO_mgl_Avg, .01, 16, MS_WTemp_C_Avg, -5, 40</string>
          </ArrayOfString>
        </value>
      </setting>
    </TSPlotGenerator.Properties.Settings>
  </userSettings>
</configuration>