<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PlotGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LoganODMEntities" connectionString="metadata=res://*/ODMModel.csdl|res://*/ODMModel.ssdl|res://*/ODMModel.msl;provider=System.Data.SqlClient;&#xD;&#xA;         provider connection string=&quot;Data Source=iutahdbs.uwrl.usu.edu;Initial Catalog=iUTAH_Logan_OD;Persist Security Info=True;User ID=webapplication;Password=W3bAppl1c4t10n!;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LittleBearODMEntities" connectionString="metadata=res://*/ODMModel.csdl|res://*/ODMModel.ssdl|res://*/ODMModel.msl;provider=System.Data.SqlClient;&#xD;&#xA;         provider connection string=&quot;Data Source=waterdata.usu.edu;Initial Catalog=LittleBearRiverODM;Persist Security Info=True;User ID=TSA;Password=TSA!wat3r;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="PlotGen.Properties.Settings.LittleBearODMConnectionString"
      connectionString="Data Source=waterdata.usu.edu;Initial Catalog=LittleBearRiverODM;Persist Security Info=True;User ID=TSA;Password=TSA!wat3r"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <PlotGen.Properties.Settings>
      <setting name="imagePath" serializeAs="String">
        <value>D:\DEV\PlottingUtils\src\LoganLittleBear\PlotGen\bin\Debug\images</value>
      </setting>
    </PlotGen.Properties.Settings>
  </applicationSettings>
</configuration>